.inputBlock {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid black;
  text-align: center;
  margin: 3px;
  padding-top: 15px;
}

.letterBlock {
  color: white;
  font-size: 0;
}

.space {
  border-bottom: none;
}

.alphabet {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin: 3px;
  text-align: center;
}
