div {
  border: 1px solid red;
}

.inputBlock {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid black;
  text-align: center;
  margin: 3px;
  padding-top: 15px;
  text-transform: capitalize;
}

.letterBlock {
  color: white;
  font-size: 1em;
}

.hyphen {
  font-size: 4em;
  color: blue;
}

.alphabet {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin: 3px;
  text-align: center;
}

.wrapper {
  width: 210px;
  height: 125px;
  border: 1px solid;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
}

.contents {
  width: 210px;
  height: 300px;
}

#newGameDiv {
  width: 100px;
  height: 20px;

  padding: 10%;
  margin: auto;
  text-align: center;
}

.newGameButton {
  padding: 5px;
  margin: auto;
}

.mainWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.title {
  text-align: center;
}

.image {
  height: 300px;
}

#img {
  padding-left: 25%;
}

.comment {
  width: 200px;
  padding: 5px;
  text-align: center;
}

.winLoseDiv {
  width: 200px;
  height: 100px;
  text-align: center;
  padding: 20px 5px;
  margin-top: 20px;
  border-radius: 10px;
}

.win {
  background: pink;
  animation: blinker 1s linear infinite;
  font-size: 2em;
  align-items: center;
  color: white;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.lose {
  background: blue;
  color: white;
  animation: blinker 1s linear infinite;
  font-size: 2em;
  align-items: center;
  color: white;
}

.title,
.mainWrapper,
.inputOrOutput {
  width: 50%;
  margin: auto;
}

.inputOrOutput {
}

.phrase {
  width: 50%;
  height: 30px;
}
